  
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-primary btn-lg" href="/">Request Book</a>
        <a class="btn btn-outline-secondary" href="/listsql">SQL-Lite request</a>
        <a class="btn btn-outline-secondary" href="/listsql1">SQL-Difficult request</a>
        <a class="btn btn-outline-secondary" href="/listomr">ORM Http</a>
        <a class="btn btn-success" href="/ser">Get Book</a>
        <a class="btn btn-success" href="/author">Get author</a>
        <a class="btn btn-success" href="/create">Creat Book</a>
        <a class="btn btn-success" href="/rud/">Update author</a>
        <a class="btn btn-success" href="/ser/author/">Author</a>
        <a class="btn btn-success" href="/ser/bookshot/">AuthorShot</a>


      </nav>


    </div>


</body>

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-primary btn-lg" href="/book">Request Property book</a>
        <a class="btn btn-primary btn-lg" href="/journal">Request Journal</a>
        <a class="btn btn-primary btn-lg" href="/reader">Request Reader</a>
      </nav>


    </div>


</body>
</html>